// app global css in SCSS form
.text-h6 {
    font-weight: 600;
    color: $primary;
}

.text-h8 {
    font-weight:400;
    color: $primary;
}

.flex-row {
    display: flex;
    align-items:flex-start;
}

.flex-width-10 {
    flex: 10% !important;
}

.flex-width-30 {
    flex: 30% !important;
}
.flex-width-50 {
    flex: 50% !important;
}
.border-bottom-row {
    display: flex; 
    border-bottom: 1px solid $primary;    
    justify-content: space-between; 
    padding-bottom: 2px;
}

// HuisnummerDialogComponent
.flex-add-new-tree-container {
    // color: $primary;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.flex-add-new-tree-container>.flex-add-new-tree-btn {
    color: $primary;
}

.flex-row-title-btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-row-title-btn-container>.flex-row-title-btn {
    color: $primary;
}

.list-of-trees-housenumer-dialog {
    margin-top: 20%;
}