// app global css in SCSS form
.text-h6 {
    font-weight: 600;
    color: $primary;
}

// HuisnummerDialogComponent
.flex-add-new-tree-container {
    // color: $primary;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.flex-add-new-tree-container>.flex-add-new-tree-btn {
    color: $primary;
}

.flex-row-title-btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-row-title-btn-container>.flex-row-title-btn {
    color: $primary;
}

.list-of-trees-housenumer-dialog {
    margin-top: 20%;
}